# Default owners for everything in the repo
* @bananezaromeo  @0783896498

# Infrastructure code
/terraform/ @David23MD   # TEMP until you add the real username
/ansible/ @0783896498     # TEMP until you add the real username

# CI/CD pipelines
/.github/workflows/ @bananezaromeo

# Security configurations
/security/ @shyakafred
